# Игнорировать файл .env с конфиденциальными данными
 .env

# Игнорировать файлы и директории, сгенерированные операционной системой
*.log
*.pot
*.pyc
__pycache__/

# Игнорировать файлы и директории, сгенерированные IDE/редакторами
.idea/

# Игнорировать директории и файлы виртуальных окружений
venv/
.venv/

documents/

# Ignore local db files
db.sqlite3
